<style>
  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  body{
    background: #eeeeee;

  }

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>
<body>
<div class="" style="display:flex;padding-top: 400px">

  <div class="col-md-5"></div>
  <div class="col-md-2" style="padding-left: 80px">
    <div class="loader"></div>

  </div>
  <div class="col-md-5"></div>
</div>
</body>


