<style>
  .user{
    margin-top: 30px;
    max-width: 70%!important;

  }

  .editcol{
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .userdiv{
    display: flex;
    background-color: white;
    /* border: 1px solid; */
    border-radius: 66px;
    box-shadow: 2px 1px 3px 0px #888888;
    margin-bottom: 7px;
    display: flex;



  }

  .userdiv:hover{
    box-shadow: 3px 2px 3px 0px #888888;
    cursor: pointer!important;
    background-color: whitesmoke!important;
  }

  .accountcircle{
    font-size: 83px;
    color: #2f4060;
  }

</style>



<div  style="display: flex;    overflow-y: auto!important;
    max-height: 78vh!important;">

  <div class="col-md-2" style="  position: -webkit-sticky;
  position: sticky;
  top: 0;">
    <button  (click)="addUser()"  mat-button  matTooltip="Add Village" class="addBtnOuter" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
        <span class="material-icons addBtn addCrcle">
          add
        </span>
      Add User
    </button>
  </div>
  <div class="col-md-8" style="margin-top: 12px">

    <div class="userdiv" *ngFor="let user of users" >
      <div class="col-md-2" style="text-align: center">
        <span class="material-icons accountcircle">
        account_circle
        </span>
      </div>
      <div class="col-md-8">


        <div style="display: flex">
          <div class="col-md-12">
            <h1 style="color: #0684ff;margin-bottom: 0px">{{user.fullName}}</h1>
            <h3 style="margin-bottom: 0px">{{user.email}}</h3>
            <h3 *ngIf="user.role=='admin'" style="margin-bottom: 0px;    color: cadetblue;font-weight: 600;" >{{user.role}}</h3>
            <h3 *ngIf="user.role=='user'" style="margin-bottom: 0px;    color: crimson;font-weight: 600;" >{{user.role}}</h3>
          </div>
        </div>

      </div>
      <div class="col-md-2" style="text-align: center">
        <div class="button-container-list-table" style="    position: relative;top: 24px;">
          <button style="background: #f2f2f2;
    box-shadow: 0px 0px 3px 1px #888888;"  class="button-actions" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon class="more-action-mat">more_vert</mat-icon>
          </button>
          <mat-menu class="menu-actions" #menu="matMenu">
            <button (click)="editUser(user)"  mat-menu-item>
              <mat-icon class="editRoad" style="color: #000000;cursor: pointer;">edit
              </mat-icon>
              <span>Edit</span>
            </button>
            <button (click)="deleteUser(user)"  mat-menu-item>
              <span class="material-icons delete" style="color: red;cursor: pointer;" >delete</span>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
      </div>

    </div>

  </div>
  <div class="col-md-2">

  </div>
</div>


