

<ngx-datatable
  style="margin-top: 5px"
  #mydatatable
  id="myTble"
  class="material"
  [sortType]="'multi'"
  [headerHeight]="50"
  [footerHeight]="40"
  [rowHeight]="50"
  [rows]="roadsTab1"
  [columnMode]="'force'"
  [limit]="limitPage"
  [scrollbarH]="true"
  [scrollbarV]="true"
>
  <ngx-datatable-column [width]="130" name="Show on map" [flexGrow]="1" [frozenLeft]="true">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <mat-checkbox [(ngModel)]="row.checked" (change)="addRoadToMap(row,$event)"></mat-checkbox>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="LVRR_ID" prop="LVRR_ID" [flexGrow]="1" [frozenLeft]="true">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div >
        {{ row?.LVRR_ID }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="OSM_ID" class="osmId" prop="osmId" [flexGrow]="1" [frozenLeft]="true">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div >
        {{ row?.osmId }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Code" class="code" prop="code" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div >
        {{ row?.code }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Fclass" class="code" prop="fclass" [flexGrow]="1" [frozenLeft]="true">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div matTooltip={{row.fclass}} >
        <div>{{ row?.fclass }}
        </div>
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Name" class="testinioclass" prop="name" [flexGrow]="1" [frozenLeft]="true">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div matTooltip={{row.name}} >
        {{ row?.name }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Ref" class="testinioclass" prop="ref" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div >
        {{ row?.ref }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Oneway" class="testinioclass" prop="oneway" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div >
        {{ row?.oneway }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Maxspeed" class="testinioclass" prop="maxspeed" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div >
        {{ row?.maxspeed }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Layer" class="testinioclass" prop="layer" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div >
        {{ row?.layer }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Bridge" class="testinioclass" prop="bridge" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div >
        {{ row?.bridge }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Tunnel" class="testinioclass" prop="tunnel" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div >
        {{ row?.tunnel }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="District" class="testinioclass" prop="district" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div >
        {{ row?.district }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Source" class="testinioclass" prop="source" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div >
        {{ row?.source }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Length in metres" class="testinioclass" prop="lengthInMetres" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div >
        {{ row?.lengthInMetres }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Width in metres" class="testinioclass" prop="roadWidthInM" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div >
        {{ row?.roadWidthInM }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Elevation in metres" [width]="200" class="testinioclass" prop="elevationInMetres"
                        [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div >
        {{ row?.elevationInMetres }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Population served" [width]="200" class="testinioclass" prop="populationServed"
                        [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div >
        {{ row?.populationServed }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Facilities served" [width]="200" class="testinioclass" prop="facilitiesServed"
                        [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div >
        {{ row?.facilitiesServed }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Access to GCsRMs" [width]="200" class="testinioclass" prop="accessToGCsRMs"
                        [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div >
        {{ row?.accessToGCsRMs }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Farm to the Market" [width]="200" class="testinioclass" prop="farmToTheMarket"
                        [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div >
        {{ row?.farmToTheMarket }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Agricultural Facilities" [width]="200" class="testinioclass"
                        prop="agriculturalFacilities" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div >
        {{ row?.agriculturalFacilities }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Links to major activity centres" [width]="270" class="testinioclass"
                        prop="linksToMajorActivityCentres" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div >
        {{ row?.linksToMajorActivityCentres }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Number of connections" [width]="200" class="testinioclass" prop="numberOfConnections"
                        [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div >
        {{ row?.numberOfConnections }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Road Condition" [width]="200" class="testinioclass" prop="roadCondition" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div >
        {{ row?.roadCondition }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="C1_score" prop="c1Score" class="testinioclass" [flexGrow]="1" #c1location>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div matTooltip="Population Served score">
        {{ row?.c1Score }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="C2_score" prop="c2Score" class="testinioclass" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div matTooltip="Facilities Served score">
        {{ row?.c2Score }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="C3_score" prop="c3Score" class="testinioclass" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div matTooltip="GCs & RMs Served  score">
        {{ row?.c3Score }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="C4_score" prop="c4Score" class="testinioclass" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div matTooltip="Farm to the Market  score">
        {{ row?.c4Score }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="C5_score" prop="c5Score" class="testinioclass" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div id="c1_location" matTooltip="Agriculture Facilitation  score">
        {{ row?.c5Score }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="C6_score" prop="c6Score" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div matTooltip="Connectivity score">
        {{ row?.c6Score }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="C7_score" prop="c7Score" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div matTooltip="Road Accessibility score">
        {{ row?.c7Score }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="C8_score" prop="c8Score" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div matTooltip="Number of Connections to other roads  score">
        {{ row?.c8Score }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="C9_score" prop="c9Score" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div matTooltip="Road condition  score">
        {{ row?.c9Score }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="C10_score" prop="c10Sore" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div matTooltip="Road quality and needs  score">
        {{ row?.c10Score }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="C11_score" prop="c11Score" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div matTooltip="Requirements for earth works  score">
        {{ row?.c11Score }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="c12_score" prop="c12Score" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div matTooltip="Traffic volume  score">
        {{ row?.c12Score }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="c13_score" prop="c13Score" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div matTooltip="Safety score">
        {{ row?.c13Score }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="c14_score" prop="c14Score" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div matTooltip="Security score">
        {{ row?.c14Score }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column title="my Tooltip" matTooltip="Environmental Impacts score" name="c15_score" prop="c15Score"
                        [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div matTooltip="Environmental Impacts score">
        {{ row?.c15Score }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="MCA" prop="mca" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div >
        {{ row?.mca }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="CBI" prop="cbi" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div >
        {{ row?.cbi }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Actions" [flexGrow]="1" [frozenRight]="true">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <mat-icon class="editRoad" (click)="editRoad(row)"
                style="color: #000000;cursor: pointer;    margin-left: 53px;">edit
      </mat-icon>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
