<style>
  .closeIcon {
    color: white;
    position: relative;
    top: 0px;

    left: 18px;
    background: #2F4060;
    border-radius: 5px;

  }


  .closeIcon:hover {

    cursor: pointer;
  }
</style>


<mat-dialog-content>

  <div style="display: flex">
    <div class="col-md-11" style="padding-left: 2px">
      <h2 style="font-size: 24px" *ngIf="this.data.main_type=='distcenters'">Delete District Center</h2>
      <h2  style="font-size: 24px" *ngIf="this.data.main_type=='schools'">Delete School</h2>
      <h2 style="font-size: 24px" *ngIf="this.data.main_type=='mosques'">Delete Mosque</h2>



    </div>
    <div class="col-md-1">
    <span  (click)="onNoClick()"   class="material-icons closeIcon">
      close
    </span>
    </div>
  </div>
  <div style="display: flex" style="display: flex;
    margin-left: 8px;
    font-size: 18px;
    margin-bottom: 20px;">
    <div *ngIf="this.data.main_type=='distcenters'" style="padding: 0;margin: 0px">
      Are you sure want to delete this District Center?

    </div>
    <div *ngIf="this.data.main_type=='schools'" style="padding: 0;margin: 0px">
      Are you sure want to delete this School?

    </div>

    <div *ngIf="this.data.main_type=='mosques'" style="padding: 0;margin: 0px">
      Are you sure want to delete this Mosque?

    </div>
  </div>


</mat-dialog-content>
<mat-dialog-actions>
  <button  style="background: #2F4060" (click)="deleteYes()"   type="submit" mat-raised-button color="primary">Yes</button>

  <button  mat-raised-button (click)="onNoClick()" >Cancel</button>
</mat-dialog-actions>
