<style>

  /*::ng-deep.table{*/
  /*padding-top: 10px!important;*/
  /*margin-bottom: 0rem!important;*/

  /*}*/

  /*ngx-datatable{*/
  /*padding-left: 14px;*/
  /*padding-bottom: 4%;*/

  /*}*/

  .delete:hover {
    color: red !important;
  }



</style>


<div class="top-extra-actions">
  <button (click)="addFacilitie()" matTooltip="add facilitie" class="addBtnOuter" mat-mini-fab color="primary"
          aria-label="Example icon button with a menu icon">
        <span class="material-icons addBtn addCrcle">
          add
        </span>
    Add Facilitie
  </button>




</div>


<ng-container class="" style="display: flex">

  <ngx-datatable style="margin-top: 15px"
                 class="material"

                 [rowHeight]="'50'"
                 [rows]="finalfacilitiesMerged"
                 [headerHeight]="50"
                 [footerHeight]="43"
                 [reorderable]=true

                 [rowHeight]="50" [limit]="limit"
                 [scrollbarH]="true"
                 [scrollbarV]="true"


  >

    <ngx-datatable-column name="Show on map" [flexGrow]="1" [frozenLeft]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <mat-checkbox [(ngModel)]="row.checked" (change)="selectRow(row,$event)"></mat-checkbox>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="id" prop="id"  [flexGrow]="1" [frozenLeft]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div>
          {{ row?.id }}
        </div>
      </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column name="Label" prop="label" [flexGrow]="1" [frozenLeft]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div>
          {{ row?.label }}
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Poi Type" prop="type" [flexGrow]="1" >
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div>
          {{ row?.type }}
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="East" prop="east" [flexGrow]="1" >
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div>
          {{ row?.east }}
        </div>
      </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column name="North" prop="north" [flexGrow]="1" >
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div>
          {{ row?.north }}
        </div>
      </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column name="Province Code" prop="provinceCode" [flexGrow]="1" >
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div>
          {{ row?.provinceCode }}
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Province Name" prop="provinceName" [flexGrow]="1" >
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div>
          {{ row?.provinceName }}
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Province Code" prop="provinceCode" [flexGrow]="1" >
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div>
          {{ row?.districtCode }}
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Province Name" prop="provinceName" [flexGrow]="1" >
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div>
          {{ row?.districtName }}
        </div>
      </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column name=""  [sortable]=false [flexGrow]="1" [frozenRight]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>

        <div class="button-container-list-table">
          <button class="button-actions" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon class="more-action-mat">more_vert</mat-icon>
          </button>
          <mat-menu class="menu-actions" #menu="matMenu">
            <button (click)="editFacilitie(row)" mat-menu-item>
              <mat-icon class="editRoad" style="color: #000000;cursor: pointer;">edit
              </mat-icon>
              <span>Edit</span>
            </button>
            <button (click)="deleteDC(row)" mat-menu-item>
              <span class="material-icons delete" style="color: red;cursor: pointer;" >delete</span>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
      </ng-template>
    </ngx-datatable-column>


  </ngx-datatable>
</ng-container>


