<style>
  .closeIcon {
    color: white;
    position: relative;
    top: 1px;
    left: 31px;
    background: #3f51b5;
    border-radius: 5px;
  }


  .closeIcon:hover {

    cursor: pointer;
  }

  .addCrcle{
    position: relative;
    top: -5px;
    font-size: 19px;
  }
</style>


<mat-dialog-content>

  <div style="display: flex">
    <div class="col-md-11" style="padding-left: 12px">
      <h2 style="font-size: 24px" *ngIf="this.data.updateMode==0">Add Mosque</h2>
      <h2  style="font-size: 24px"  *ngIf="this.data.updateMode==1">Update Mosque </h2>

    </div>
    <div class="col-md-1">
    <span  (click)="onNoClick()"   class="material-icons closeIcon">
      close
    </span>
    </div>
  </div>



  <form   [formGroup]="editForm2" class="example-form" style="display: grid;padding-left: 13px;
    padding-right: 24px;"  (ngSubmit)="saveDC()">


    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input  formControlName="name"   matInput placeholder="Name" [(ngModel)]="name">
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <mat-label>Alternative Dist Name</mat-label>
      <input  formControlName="altDistName"   matInput placeholder="Alternative Dist Name" [(ngModel)]="altDistName">
    </mat-form-field>




    <div style="height: 70px">
      <div [ngStyle]="styleObjectPr()">
        <ngx-select



          (click)="getProvinces()"
          #prov
          (select)="getDistricts()"
          formControlName="num_province_code"
          [(ngModel)]="num_province_code"
          [formControl]="selectControlProvince"
          [allowClear]="true"
          [items]="provinces"
          optionValueField="num_province_code"
          optionTextField="province_name"
          placeholder="Select...">
        </ngx-select>

        <span *ngIf=" f.num_province_code.errors" style="color: red">  province is required</span>
      </div>
    </div>



    <div style="height: 70px">
      <div [ngStyle]="styleObjectD()">
        <ngx-select
          (click)="getDistricts()"

          #distr




          [disabled]="!num_province_code"

          formControlName="num_district_code"
          [(ngModel)]="num_district_code"
          [formControl]="selectControlDistrict"
          [allowClear]="true"
          [items]="districts"
          optionValueField="num_district_code"
          optionTextField="district_name"
          placeholder="Select...">
        </ngx-select>

        <span *ngIf=" f.num_district_code.errors" style="color: red">  district is required</span>
      </div>
    </div>




    <mat-form-field  appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select  formControlName="type" [(ngModel)]="type">
        <mat-option value="muslim_sunni">muslim_sunni</mat-option>
        <mat-option value="muslim">muslim</mat-option>
      </mat-select>
    </mat-form-field>



    <mat-form-field  appearance="fill">
      <mat-label>From</mat-label>
      <mat-select  formControlName="from" [(ngModel)]="from">
        <mat-option value="Polling Stations">Polling Stations</mat-option>
        <mat-option value="Google Maps">Google Maps</mat-option>
        <mat-option value="Open Street Map">Open Street Map</mat-option>
      </mat-select>
    </mat-form-field>




    <div class="" style="display: flex">
      <mat-form-field class="example-full-width" style="width: 25%;margin-right: 4px">
        <mat-label>East</mat-label>
        <input type="number"  formControlName="east"   matInput placeholder="east" [(ngModel)]="east">
        <span *ngIf=" f.east.errors" style="color: red">  please fill with positive number</span>
      </mat-form-field>



      <mat-form-field class="example-full-width" style="width: 25%;margin-right: 4px">
        <mat-label>North</mat-label>
        <input type="number"  formControlName="north"   matInput placeholder="north" [(ngModel)]="north">
        <span *ngIf=" f.north.errors" style="color: red">  please fill with positive number</span>
      </mat-form-field>

      <mat-form-field class="example-full-width" style="width: 25%;margin-right: 4px">
        <mat-label>East utm42</mat-label>
        <input type="number"  formControlName="eastUtm42"   matInput placeholder="east Utm42" [(ngModel)]="eastUtm42">
        <span *ngIf=" f.eastUtm42.errors" style="color: red">  please fill with positive numbe</span>
      </mat-form-field>



      <mat-form-field class="example-full-width" style="width: 25%">
        <mat-label>North utm42</mat-label>
        <input type="number"  formControlName="northUtm42"   matInput placeholder="north Utm42" [(ngModel)]="northUtm42">
        <span *ngIf=" f.northUtm42.errors" style="color: red">  please fill with positive number</span>
      </mat-form-field>


    </div>

    <mat-form-field class="example-full-width" style="width: 25%">
      <mat-label>Target Fid</mat-label>
      <input type="number"  formControlName="targetFid"   matInput placeholder="target Fid" [(ngModel)]="targetFid">
      <span *ngIf=" f.targetFid.errors" style="color: red">  please fill with positive number</span>
    </mat-form-field>











  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="saveDC()" style="background-color: #2F4060"  type="submit" mat-raised-button color="primary">Save</button>

  <button mat-raised-button (click)="onNoClick()" >Cancel</button>
</mat-dialog-actions>
