<style>

  ::ng-deep.table{
    padding-top: 10px!important;
    margin-bottom: 0rem!important;

  }
  ngx-datatable{
    padding-left: 14px;
    padding-bottom: 4%;
  }

</style>
<div class="table">
  <ngx-datatable  #mydatatable
                  class="material"
                  [sortType]="'multi'"
                  [headerHeight]="50"
                  [footerHeight]="40"
                  [rowHeight]="'50'"
                  [rows]="villages"
                  [columnMode]="'force'"
                  [limit]="limit"
                  [scrollbarH]="true"
  >
    <ngx-datatable-column name="Show on map" [flexGrow]="1">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <mat-checkbox [(ngModel)]="row.checked" (change)="selectRow(row,$event)"></mat-checkbox>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="village Co" prop="villageCo" [flexGrow]="1">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div >
          {{ row?.villageCo }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="village 1" prop="village1" [flexGrow]="1">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div >
          {{ row?.village1 }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="village Pop" prop="villagePop" [flexGrow]="1">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div >
          {{ row?.villagePop }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Village_HH" prop="Village_HH" [flexGrow]="1">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div >
          {{ row?.villageHh }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="village name" prop="villageName" [flexGrow]="1">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div >
          {{ row?.villageName }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="East UTM42" prop="eastUtm42" [flexGrow]="1">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div >
          {{ row?.eastUtm42 }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Nort UTM42" prop="northUtm42" [flexGrow]="1">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div >
          {{ row?.northUtm42 }}
        </div>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
