<style>

  ::ng-deep.table{
    padding-top: 10px!important;
    margin-bottom: 0rem!important;

  }
  ngx-datatable{
    padding-left: 14px;
    padding-bottom: 4%;
  }

  /*.addBtn{
    position: relative;
    left: -10px;
    top: 3px;
    height: 30px;
    width: 30px;
    background: #2F4060!important;

  }
  .addCrcle{
    position: relative;
    top: -5px;
    font-size: 19px;
  }*/
  .button-container-list-table{
    padding-left: 18px!important;
  }







</style>





<div class="top-extra-actions">
  <button (click)="addVillage()"  mat-button  matTooltip="Add Village" class="addBtnOuter" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
        <span class="material-icons addBtn addCrcle">
          add
        </span>
    Add Village
  </button>
</div>




<ng-container class="" style="display: flex">

  <ngx-datatable style="margin-top: 15px"
                 class="material"

                 [reorderable]=true
                 [rowHeight]="'50'"
                 [rows]="villages"
                 [headerHeight]="50"
                 [footerHeight]="43"
                 [rowHeight]="50"  [limit]="limit"
                 [scrollbarH]="true"
                 [scrollbarV]="true"

  >

    <ngx-datatable-column name="Show on map" [flexGrow]="1" [frozenLeft]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <mat-checkbox [(ngModel)]="row.checked" (change)="selectRow(row,$event)"></mat-checkbox>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Village Co" prop="villageCo" [flexGrow]="1" [frozenLeft]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div >
          {{ row?.villageCo }}
        </div>
      </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column name="Village 1" prop="village1" [flexGrow]="1" [frozenLeft]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div >
          {{ row?.village1 }}
        </div>
      </ng-template>
    </ngx-datatable-column>



    <ngx-datatable-column name="Village Pop" prop="villagePop" [flexGrow]="1">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div >
          {{ row?.villagePop }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Village_HH" prop="Village_HH" [flexGrow]="1">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div >
          {{ row?.villageHh }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Village name" prop="villageName" [flexGrow]="1">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div >
          {{ row?.villageName }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="East UTM42" prop="eastUtm42" [flexGrow]="1">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div >
          {{ row?.eastUtm42 }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Nort UTM42" prop="northUtm42" [flexGrow]="1">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div >
          {{ row?.northUtm42 }}
        </div>
      </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column name="Map Long" prop="mapLong" [flexGrow]="1">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div >
          {{ row?.mapLong }}
        </div>
      </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column name="Map Lat" prop="mapLat" [flexGrow]="1">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div >
          {{ row?.mapLat }}
        </div>
      </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column  [sortable]=false   name="" [flexGrow]="1" [frozenRight]="true">
      <ng-template let-row="row" ngx-datatable-cell-template>







        <div class="button-container-list-table" >
          <button  class="button-actions" mat-icon-button [matMenuTriggerFor]="menu" >
            <mat-icon  class="more-action-mat">more_vert</mat-icon>
          </button>
          <mat-menu  class="menu-actions" #menu="matMenu">
            <button (click)="editVillage(row)" mat-menu-item>
              <mat-icon class="editRoad"
                        style="color: #000000;cursor: pointer;">edit
              </mat-icon>
              <span>Edit</span>
            </button>
            <button (click)="deleteVillage(row)" mat-menu-item>
              <span class="material-icons delete" style="color: red;cursor: pointer;" >delete</span>
              <span>Delete</span>
            </button>

          </mat-menu>


        </div>









      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>
</ng-container>

