<style>
  .closeIcon {
    color: white;
    position: relative;
    top: 1px;
    left: 31px;
    background: #3f51b5;
    border-radius: 5px;
  }


  .closeIcon:hover {

    cursor: pointer;
  }
</style>


<mat-dialog-content>

  <div style="display: flex">
    <div class="col-md-11">
      <h2 *ngIf="this.data.updateMode==0">Add Village</h2>
      <h2 *ngIf="this.data.updateMode==1">Update Village </h2>

    </div>
    <div class="col-md-1">
    <span  (click)="onNoClick()"   class="material-icons closeIcon">
      close
    </span>
    </div>
  </div>



  <form   [formGroup]="editForm2" class="example-form" style="display: grid;padding-left: 13px;
    padding-right: 24px;"  (ngSubmit)="saveDC()">


    <mat-form-field class="example-full-width" style="width: 25%;margin-right: 4px;   ">
      <mat-label>Village Co</mat-label>
      <input type="number"  formControlName="villageCo"   matInput placeholder="Map Long" [(ngModel)]="villageCo">
      <span *ngIf=" f.villageCo.errors" style="color: red">  please fill with positive number</span>
    </mat-form-field>




    <mat-form-field class="example-full-width" style=" margin-bottom: 20px;">
      <mat-label>Village 1</mat-label>
      <input  formControlName="village1"   matInput placeholder="Alternative Dist Name" [(ngModel)]="village1">
    </mat-form-field>




    <div style="height: 70px">
      <div [ngStyle]="styleObjectPr()">
        <ngx-select



          (click)="getProvinces()"
          #prov
          (select)="getDistricts()"
          formControlName="num_province_code"
          [(ngModel)]="num_province_code"
          [formControl]="selectControlProvince"
          [allowClear]="true"
          [items]="provinces"
          optionValueField="num_province_code"
          optionTextField="province_name"
          placeholder="Select...">
        </ngx-select>

        <span *ngIf=" f.num_province_code.errors" style="color: red">  province is required</span>
      </div>
    </div>



    <div style="height: 70px">
      <div [ngStyle]="styleObjectD()">
        <ngx-select
          (click)="getDistricts()"

          #distr




          [disabled]="!num_province_code"

          formControlName="num_district_code"
          [(ngModel)]="num_district_code"
          [formControl]="selectControlDistrict"
          [allowClear]="true"
          [items]="districts"
          optionValueField="num_district_code"
          optionTextField="district_name"
          placeholder="Select...">
        </ngx-select>

        <span *ngIf=" f.num_district_code.errors" style="color: red">  district is required</span>
      </div>
    </div>




    <div class="" style="display: flex">
      <mat-form-field class="example-full-width" style="width: 25%;margin-right: 4px">
        <mat-label>Map Long</mat-label>
        <input type="number"  formControlName="mapLong"   matInput placeholder="Map Long" [(ngModel)]="mapLong">
        <span *ngIf=" f.mapLong.errors" style="color: red">  please fill with positive number</span>
      </mat-form-field>



      <mat-form-field class="example-full-width" style="width: 25%;margin-right: 4px">
        <mat-label>Map Lat</mat-label>
        <input type="number"  formControlName="mapLat"   matInput placeholder="Map Lat" [(ngModel)]="mapLat">
        <span *ngIf=" f.mapLat.errors" style="color: red">  please fill with positive number</span>
      </mat-form-field>



      <mat-form-field class="example-full-width" style="width: 25%;margin-right: 4px">
        <mat-label>Village Pop</mat-label>
        <input type="number"  formControlName="villagePop"   matInput placeholder="east Utm42" [(ngModel)]="villagePop">
        <span *ngIf=" f.villagePop.errors" style="color: red">  please fill with positive numbe</span>
      </mat-form-field>



      <mat-form-field class="example-full-width" style="width: 25%">
        <mat-label>Village Hh</mat-label>
        <input type="number"  formControlName="villageHh"   matInput placeholder="Village Hh" [(ngModel)]="villageHh">
        <span *ngIf=" f.villageHh.errors" style="color: red">  please fill with positive number</span>
      </mat-form-field>


    </div>


    <div class="" style="display: flex">
      <mat-form-field class="example-full-width" style="width: 25%;margin-right: 4px">
        <mat-label>East</mat-label>
        <input type="number"  formControlName="east"   matInput placeholder="east" [(ngModel)]="east">
        <span *ngIf=" f.east.errors" style="color: red">  please fill with positive number</span>
      </mat-form-field>



      <mat-form-field class="example-full-width" style="width: 25%;margin-right: 4px">
        <mat-label>North</mat-label>
        <input type="number"  formControlName="north"   matInput placeholder="north" [(ngModel)]="north">
        <span *ngIf=" f.north.errors" style="color: red">  please fill with positive number</span>
      </mat-form-field>

      <mat-form-field class="example-full-width" style="width: 25%;margin-right: 4px">
        <mat-label>East utm42</mat-label>
        <input type="number"  formControlName="eastUtm42"   matInput placeholder="east Utm42" [(ngModel)]="eastUtm42">
        <span *ngIf=" f.eastUtm42.errors" style="color: red">  please fill with positive numbe</span>
      </mat-form-field>



      <mat-form-field class="example-full-width" style="width: 25%">
        <mat-label>North utm42</mat-label>
        <input type="number"  formControlName="northUtm42"   matInput placeholder="north Utm42" [(ngModel)]="northUtm42">
        <span *ngIf=" f.northUtm42.errors" style="color: red">  please fill with positive number</span>
      </mat-form-field>


    </div>




  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button  style="background-color: #2F4060" (click)="saveDC()"   type="submit" mat-raised-button color="primary">Save</button>

  <button mat-raised-button (click)="onNoClick()" >Cancel</button>
</mat-dialog-actions>
