@import "~leaflet/dist/leaflet.css";

.mat-tab-label {
  min-width: 180px !important;
  padding: 5px;
  color: red;
  font-weight: 700;
}


/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  min-width: 180px !important;
  padding: 5px;
  background-color: #005780;
  color: red;
  font-weight: 700;
}




/*.mycustomTabClass .mat-tab-label-active {*/
/*background: #9e9e9e;*/
/*color: black;*/

/*}*/

/*.mycustomTabClass .mat-tab-label-active {*/
/*background: #9e9e9e;*/
/*color: black;*/

/*}*/


/*::ng-deep.mycustomTabClass.mat-tab-label .mat-tab-label-content{*/
/*color: black;*/
/*}*/

/*.mycustomTabClass div.mat-tab-label-content{*/
/*color: black;*/
/*}*/


/* Styles for the ink bar */
.mat-ink-bar {
  background-color: green;
}



/*.server-scrolling-demo {*/
/*height: calc(100vh - 110px);*/
/*}*/

/*::ng-deep .progress-linear {*/
/*position: fixed !important;*/
/*bottom: 0px;*/
/*}*/
