<style>

  ::ng-deep.table{
    padding-top: 13px!important;
    margin-bottom: 0rem!important;

  }
  ngx-datatable{
    padding-left: 14px;
    padding-bottom: 4%;
  }

  datatable-body-cell{
    padding-left: 26px!important;
  }

  .datatable-row-detail{
    width: 800px!important;
  }

  .datatable-row-detail ng-star-inserted{
    width: 90vh!important;
  }


  ::ng-deep.datatable-row-detail{
   height: 100%!important;
  }


  .update{
    cursor: pointer;
  }


</style>


<mat-tab-group class="mycustomTabClassCiteria" (selectedTabChange)="switchTabChange($event)" >


  <mat-tab label="Criteria">

    <div class="table">

      <ngx-datatable
        #myTable
        class="material expandable"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="50"
        [limit]="120"
        [scrollbarH]="true"

        (activate)="toggleExpandRowActivate($event)"
        [rows]="criteriaMaster"
        (page)="onPage($event)"
      >

        <!-- Row Detail Template -->
        <ngx-datatable-row-detail    #myDetailRow (toggle)="onDetailToggle($event)">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
            <div style="padding-left:35px;display: grid">
              <div class="criteria-master-details"><strong>Criteria Master Detail</strong></div>
              <table>
                <tr >
                  <th>LABEL</th>
                  <th>SCORE</th>
                </tr>
                <tr *ngFor="let r of row.cmdList" >
                  <td>{{r.label}}</td>
                  <td>{{r.score}}</td>
                </tr>
              </table>
            </div>
          </ng-template>
        </ngx-datatable-row-detail>


        <!-- Column Templates -->
        <ngx-datatable-column
          [width]="50"


          [resizeable]="false"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false"
        >


          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <a
              href="javascript:void(0)"
              [class.datatable-icon-right]="!expanded"
              [class.datatable-icon-down]="expanded"
              title="Expand/Collapse Row"
            >
            </a>
          </ng-template>
        </ngx-datatable-column>



        <ngx-datatable-column name="label" prop="label" [flexGrow]="1" >
          <ng-template  let-row="row" ngx-datatable-cell-template>
            <div  style="padding-left: 49px">
              {{ row?.label }}
            </div>
          </ng-template>
        </ngx-datatable-column>






        <ngx-datatable-column name="Score Range" prop="scoreRange" [flexGrow]="1" >
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div  style="padding-left: 33px">
              {{ row?.scoreRange }}
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Weight Factor (%)" prop="weightFactor" [flexGrow]="1" >
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div   style="padding-left: 15px">
              {{ row?.weightFactor }}
            </div>
          </ng-template>
        </ngx-datatable-column>






      </ngx-datatable>




    </div>

  </mat-tab>


  <mat-tab label="Operating Systems">
    <div     class="" >





      <mat-form-field class="example-full-width" style="margin-left: 27px;margin-right: 16px;">
        <mat-label>Estimated Maintenance Cost</mat-label>
        <input type="number" [(ngModel)]="this.opParam" matInput placeholder="Estimated Maintenance Cost" value="Sushi">
      </mat-form-field>

      <span class="material-icons update" style="    position: relative;
    top: 13px;
    margin-top: 10px" (click)="updateMainCost()">
    save
    </span>


    </div>
  </mat-tab>


</mat-tab-group>






