/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~leaflet/dist/leaflet.css";
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body {
  height: 100%;
}

/*body {*/
/*margin: 0;*/
/*font-family: Roboto, "Helvetica Neue", sans-serif;*/
/*}*/

.mat-tab-label-content {
  color: white;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #8BAA48;
  height: 6px;
}

::ng-deep .mat-drawer-inner-container {
  overflow: hidden !important;
}

::ng-deep .ngx-datatable .datatable-footer .datatable-footer-inner {
  background: #2F4060;
}

c-remove {
  display: none !important;
}

::ng-deep .pure-checkbox input[type=checkbox] + label {
  display: none !important;
}

.clear-all {
  width: 7px;
  position: absolute;
  top: 50%;
  display: none !important;
  right: 30px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.select-all {
  display: none !important;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: left;
  display: none;
}

.mat-tab-labels {
  background: #2F4060;
}

.mycustomTabClass .mat-tab-labels {
  background: whitesmoke;
  color: black;
}

.mycustomTabClass .mat-tab-labels {
  background: whitesmoke;
  color: black;
}

.mycustomTabClass.mat-tab-label .mat-tab-label-content {
  color: black;
}

.mycustomTabClass .mat-tab-label:active {
  background: #8BAA48 !important;
  color: white !important;
}

::ng-deep.div.mycustomTabClass.mat-tab-label:active {
  color: white !important;
}

.mycustomTabClass .mat-tab-label-active {
  background: #8BAA48;
  color: white !important;
  opacity: 0.9;
}

::ng-deep.mycustomTabClass.mat-tab-label .mat-tab-label-active {
  color: white !important;
}

.mycustomTabClass div.mat-tab-label-content {
  color: #000;
}

.mycustomTabClassUpdateRoad .mat-tab-labels {
  background: whitesmoke;
  color: black;
}

.mycustomTabClassUpdateRoad .mat-tab-labels {
  background: whitesmoke;
  color: black;
}

.mycustomTabClassUpdateRoad.mat-tab-label .mat-tab-label-content {
  color: black;
}

.mycustomTabClassUpdateRoad .mat-tab-label-active {
  background: #8BAA48 !important;
  color: #ffffff;
}

.mycustomTabClassUpdateRoad .mat-tab-label-active {
  background: #8BAA48;
  color: #ffffff;
}

::ng-deep.mycustomTabClassUpdateRoad.mat-tab-label .mat-tab-label-content {
  background: #8BAA48;
  color: #ffffff;
}

.mycustomTabClassUpdateRoad div.mat-tab-label-content {
  color: black;
}

.mycustomTabClassUpdateRoad .mat-tab-label-active .mat-tab-label-content {
  color: #fff !important;
}

.mycustomTabClassCiteria .mat-tab-labels {
  background: #8BAA48;
  color: black;
}

.mycustomTabClassCiteria .mat-tab-labels {
  background: whitesmoke;
  color: black;
}

.mycustomTabClassCiteria.mat-tab-label .mat-tab-label-content {
  color: black;
}

.mycustomTabClassCiteria .mat-tab-label-active {
  background: #8BAA48;
  color: black;
}

.mycustomTabClassCiteria .mat-tab-label-active {
  background: #8BAA48;
  color: black;
}

::ng-deep.mycustomTabClassCiteria.mat-tab-label .mat-tab-label-content {
  color: black;
}

.mycustomTabClassCiteria div.mat-tab-label-content {
  color: black;
}

/*mycustomTabClassUpdateRoad*/

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #2f4060;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #2f4060;
}

::ng-deep.mat-checkbox-background {
  background-color: rgb(0, 178, 0) !important;
}

.mat-checkbox-ripple .mat-ripple-element, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #2f4060;
}

::ng-deep .custom-dialog-container .mat-dialog-container {
  overflow: visible !important;
}

.mat-dialog-content, .mat-dialog-container {
  overflow: visible !important;
}

.mat-dialog-actions {
  clear: both;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row:hover {
  background-color: rgba(0, 239, 174, 0.33) !important;;
}

::ng-deep.table {
  padding-top: 10px !important;
  margin-bottom: 0rem !important;
}

.ngx-datatable.bootstrap {
  box-shadow: none;
  /*font-size: 16px;*/
}

.ngx-datatable.bootstrap .datatable-header {
  height: unset !important;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;

}

.ngx-datatable.material .datatable-header {
  color: rgba(7, 51, 111, 1);

}

.ngx-datatable.material .datatable-header .datatable-header-cell {
  vertical-align: bottom;
  padding: 0.75rem;
  border-bottom: 1px solid #d1d4d7;

}

.ngx-datatable.bootstrap .datatable-header .datatable-header-cell .datatable-header-cell-label {
  line-height: 24px;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
  padding: 0.67rem;
  vertical-align: top;
  border-top: 1px solid #d1d4d7;
  background: #ffffff !important;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row.datatable-row-even {
  background-color: rgba(0, 0, 0, 0.05);
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row.active {
  background-color: #1483ff;
  color: #FFF;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-body-cell {
  text-align: left;
  overflow-y: hidden;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  text-align: left;
  padding-left: 5px;
  overflow-y: hidden;
}

.ngx-datatable.material .datatable-body .datatable-body-row {
  box-shadow: 2px 0px 1px 0px #adadad;
}

.datatable-row-left {
  background: #f9f9f9 !important;

}

.datatable-row-group.datatable-row-left {
  background: #f9f9f9 !important;
  box-shadow: 0px 0px 4px 0px #adadad;

}

.datatable-row-group.datatable-row-left:hover {
  background-color: #8affd9 !important;
  backface-visibility: hidden;
  cursor: pointer;
}

.datatable-row-center.datatable-row-group:hover {
  background-color: #8affd9 !important;
  cursor: pointer;
}

.datatable-row-right {
  background: #f9f9f9 !important;
}

.datatable-row-group.datatable-row-right {
  background: #f9f9f9 !important;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.datatable-row-group.datatable-row-right:hover {
  background-color: #8affd9 !important;
  backface-visibility: hidden;
  cursor: pointer;
}

.datatable-row-group.datatable-row-right:last-child:hover{
  background-color: #fafafa !important;
}

.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
  transform: none !important;
}

.ngx-datatable.bootstrap .datatable-footer {
  background: rgb(37, 220, 0);
  color: #181818;
  margin-top: -1px;

  height: 45px;
  color: white;

}

.ngx-datatable.material .datatable-footer .page-count {
  line-height: 50px;
  height: 50px;
  padding: 0 1.2rem;
}

.ngx-datatable.material .datatable-footer .datatable-pager {
  margin: 0 10px;
  vertical-align: top;
}

.ngx-datatable.material .datatable-footer .datatable-pager ul li {
  margin: 10px 0px;
  color: white;

  text-align: center;

}

.ngx-datatable.material .datatable-footer .datatable-pager ul li:not(.disabled).active a, .ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled):hover a {
  background-color: #545454;
  color: white;
  text-align: center;
  font-weight: bold;
}

.ngx-datatable.material .datatable-footer .datatable-pager a {
  height: 22px;
  min-width: 24px;
  line-height: 22px;
  padding: 0;
  border-radius: 3px;
  margin: 0 3px;

  vertical-align: top;
  text-decoration: none;
  vertical-align: bottom;
  color: #181818;
}

.sortable .sort-btn:before {
  font-family: data-table;
  content: "c";
}

.sortable .sort-btn.datatable-icon-down:before {

  content: "▼";
}

.sortable .sort-btn.datatable-icon-up:before {
  content: "▲";

}

.sortable .sort-btn.datatable-icon-up:before {
  content: "▲";

}

.datatable-iconCustom:before {
  content: "▲";
}

.cuppa-dropdown {
  background-color: white;
  width: 91%;
  border-radius: 7px;

}

.select-all {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.ngx-datatable.material .datatable-footer {
  overflow-y: hidden;
  background: #2F4060 !important;
  color: white;

}

::ng-deep.mat-pseudo-checkbox {
  display: none !important;
}

.ngx-datatable.material .datatable-footer .datatable-pager .datatable-icon-left,
.ngx-datatable.material .datatable-footer .datatable-pager .datatable-icon-skip,
.ngx-datatable.material .datatable-footer .datatable-pager .datatable-icon-right,
.ngx-datatable.material .datatable-footer .datatable-pager .datatable-icon-prev {
  /*font-size: 18px;*/
  line-height: 27px;
  padding: 0 3px;
  text-align: center !important;
  color: white;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  overflow-y: hidden;
}

/*hlias*/
.ngx-datatable.material .datatable-header .datatable-header-cell {
  vertical-align: bottom;
  padding: 0.75rem;
  border-bottom: 1px solid #d1d4d7;
  padding: 10px;
  font-weight: bold;
  color: #000;
  text-shadow: none;
  min-width: 100px;
  max-width: 900px !important;

}

span.datatable-header-cell-label.draggable {
  text-transform: uppercase;
  text-shadow: none;
}

ngx-datatable {
  padding-left: 0px !important;
  padding-bottom: 4%;
}

datatable-body.datatable-body {
  height: 741px;
  overflow-y: auto !important;

}

.mycustomTabClassUpdateRoad .mat-tab-label-active .mat-tab-label-content {
  color: #fff !important;
}

.mycustomTabClassUpdateRoad .mat-tab-label-active .mat-tab-label-content {
  color: #fff !important;
}

.mycustomTabClass .mat-tab-label-active .mat-tab-label-content {
  color: #fff !important;
}

.mycustomTabClassCiteria .mat-tab-label-active .mat-tab-label-content {
  color: #fff !important;
}

.ngx-datatable.scroll-horz .datatable-body {
  overflow-y: scroll;
}

.ngx-datatable.bootstrap .datatable-summary-row .datatable-body-row .datatable-body-cell {
  font-weight: bold;
}

button:focus {
  outline: none !important;
}

.mycustomTabClassCiteria datatable-scroller.datatable-scroll {
  width: 100% !important;
}

.criteria-master-details {
  padding: 20px 0;
}

.button-label {
  position: relative;
  top: 1px;
  left: 6px;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
}

.quick-view-table-btns{
  margin: 0;padding: 0;display: flex;
  align-items: center;
  justify-content: flex-end;
}


.quick-view-table-btns span.mat-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}


.quick-view-table-btns span.mat-button-wrapper > span:not(.material-icons){
  height:24px;
  line-height: 24px;
  position: relative;
  top:1px;
}


.province-combo{
  margin:0 15px;
}
.province-combo .cuppa-dropdown ,
.district-combo .cuppa-dropdown {

  width: 100%;
}
.province-combo .cuppa-dropdown .selected-list,
.district-combo .cuppa-dropdown .selected-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.district-combo{
  margin:0 15px;margin-top: 25px;
}

span.datatable-header-cell-label,
.datatable-body-cell-label{
  font-size: 14px!important;
}


.user-data {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.button-container-list-table{
  display: flex;
  padding-left: 0;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  box-shadow: 1px 1px 5px -1px #000!important;
  border-radius: 50%;
  /* margin-left: 21px; */
  left: 20px;
  position: relative;
  height: 35px;
  width: 35px;
}


.buttonNav {
  cursor: pointer;
  box-shadow: 2px 2px 3px 0px #888888;
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
  position: relative;
  height: 50px;
  line-height: 50px;
  width: 40px;
  text-align: center;
  padding-top: 0;
  z-index: 3;
  background: white;
  top: 0px;
  left: -15px;
  /* font-size: 29px; */
  color: #6b6b6b;
}




.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #8baa48;
}

.roadFilters span.material-icons {
  font-size: 24px;
}
.roadFilters span span {
  font-size: 14px;
}

.roadFilters .mat-radio-label-content{
  font-size: 14px;
}


.roadFilters .mat-form-field-infix {
  font-size: 14px;
}

.roadFilters{
  max-height: 600px;
  overflow-y:auto;
}


.left-column-filter .mat-drawer-inner-container{
  overflow: hidden;
}


.extra-help-points{
  margin-top: 17px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  box-shadow: 1px 1px 2px 0px #888888;
}

.extra-help-points div {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 0;
}

.extra-help-points div img{
  margin-right:10px;
}


.roadFilters {
  margin-top: 17px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  box-shadow: 1px 1px 2px 0px #888888;
}


.buttonNavLeft {
  cursor: pointer;
  box-shadow: 2px 2px 3px 0px #888888;
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
  position: relative;
  height: 50px;
  width: 35px;
  padding-top: 0;
  line-height: 50px;
  z-index: 3;
  background: white;
  top: 0px;
  left: -15px;
  /* font-size: 29px; */
  color: #6b6b6b;
}


.menu-actions .mat-menu-item .mat-icon,
.menu-actions .mat-menu-item .material-icons{
  margin-right: 10px;
  font-size: 22px;
  width: 22px;
  height: 22px;
}

.menu-actions button.mat-menu-item  {
  display: flex;
  align-items: center;
}


.addBtn {
  position: relative;
  left: 0;
  top: 0;
  height: 30px;
  width: 30px;
  background: #8baa48 !important;
  border-radius: 50%;
  line-height: 30px;
  color:#fff;
  margin-right:5px;
}

.addBtnOuter{
  color: #212529!important;
  background: transparent!important;
  box-shadow: none!important;
  display: flex!important;
  align-items: center!important;
  font-size: 14px!important;
  width: auto!important;
  height: auto!important;
  margin: 0!important;
  padding: 0!important;
  text-transform: uppercase;
}
.top-extra-actions{
  padding:10px 20px;
}
.searchFilter {
  width: 45%;
  margin-top: 20px;
  margin-bottom: 14px !important;
  border-radius: 5px !important;
  margin-left: 12px !important;
}
