<body style="background-color: #5c6b94">
<div class="container" style="justify-items: center;width: 478px;
  position: relative;top: 25%;">
  <div style="
    height: 51px;
    font-size: 20px;
  font-family: 'Open Sans', sans-serif;
    background-color: #3f51b5;
    padding-top: 12px;
    text-align: center;
    color: white;
    border-radius: 5px;
        box-shadow: 1px 1px 4px #344e8a;

">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    Forgot Password</div>
  <mat-card>
    <form  [formGroup]="editForm" class="example-form" style="" (submit)="onSubmitForm()" >




      <mat-form-field style="width: 100%;" class="example-full-width">
        <mat-label>Email</mat-label>
        <input  formControlName="email"   matInput placeholder="email" [(ngModel)]="email">


      </mat-form-field>




      <button mat-raised-button color="primary">Send</button>
      <a   (click)="goToLoginPage()"    style="    margin-left: 5px;text-underline: black" mat-button >click to return login page</a>
    </form>
  </mat-card>
</div>
</body>


