<style>
  .loginB{
    margin-top: 5px;
    height: 48px;
    width: 35%;
    background-color: #8BAA48;
    margin-bottom: 10px
  }
</style>


<body style="background-color: #5c6b94">
<div class="container" style="justify-items: center;width: 478px;
  position: relative;top: 25%;">
  <div style="
height: 67px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    background-color: #2F4060;
    padding-top: 20px;
    text-align: center;
    color: white;
    border-radius: 0px;
    box-shadow: 1px 1px 4px #344e8a;

">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    Forgot Password</div>
  <mat-card>
    <form  [formGroup]="editForm" class="example-form" style="" (submit)="onSubmitForm()" >




      <mat-form-field style="width: 100%;" class="example-full-width">
        <mat-label>Email</mat-label>
        <input  formControlName="email"   matInput placeholder="email" [(ngModel)]="email">


      </mat-form-field>





      <div style="display: flex;    justify-content: center;">
        <button class="loginB" mat-raised-button color="primary">Send</button>

      </div>

      <div style="display: flex;justify-content: center">
        <a   (click)="goToLoginPage()"    style="    margin-left: 5px;text-underline: black" mat-button >click to return login page</a>

      </div>


    </form>
  </mat-card>
</div>
</body>


